// -*- C++ -*-

type                sets;
libs                (sampling);
interpolationScheme cellPoint;
setFormat           raw;

fields
(
    columnAverage(UPrime2Mean)
);

sets
{
    l1 // 1, 5, 10, ... delta
    {
        type        uniform;
        axis        distance;
        start       (|-L/2-| 0 |-W/2-|);
        end         (|-L/2-| |-H-| |-W/2-|);
        nPoints     200;
    }  
}


// ************************************************************************* //
