#! /bin/sh

## ------ engine:jinja2 ---------


# Generate time varying inlet K-waves for the whole simulation
python3 initializeCaseFieldBC.py {{case}} default

# Set initial field to a parabolic profile using funkySetFields
{% if swak4Foam=="yes"%}
	funkySetFields -time 0
{% endif %}

{% if case!="temporal" %}
	rm -f system/fvOptions
{% endif %} 

	
{% if dynamicMesh=="no" %}
   	rm -f constant/dynamicMeshDict
   	rm -f 0/cellDisplacement
   	rm -f 0/pointDisplacement
{% endif %} 	

